/**
* Foundation StyleSheets
*/

html {
  max-width: 100dvw;
  -webkit-text-size-adjust: 100%;
  overscroll-behavior: contain;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, system-ui, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
  position: relative;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  height: fit-content;
  overflow-x: hidden;
  -webkit-touch-callout: none;
  scroll-behavior: smooth;
  overscroll-behavior: contain;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-use-select: none;
  scrollbar-width: none;
  transition: all 0.2s ease;
}

::-webkit-scrollbar {
  display: none;
}

.flicker {
  animation: opacity 1.5s ease-in-out infinite;
}

@keyframes opacity {
  45% {
    opacity: 1;
  }
  65% {
    opacity: 0.8;
  }
}

.page-enter-active,
.page-leave-active {
  transition: all .15s ease-in-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0.3;
}
